script(type="text/javascript").
  $(document).ready(function() {
      /* 로그인 처리 */
    var login = !{JSON.stringify(login)}
    var route = !{JSON.stringify(route)}
    var server = !{JSON.stringify(server)}
    var username = !{JSON.stringify(username)}
    server_message_function(login)

    /* 소켓 처리  */
    var information = !{JSON.stringify(information)}
    var socket = io()
    if (route == "homepage") {
      /* 로그인 소켓 저장 처리 */
      socket.emit("login", {
        server,
        information
      })
      /* 단코드 변경 */
      socket.on("/change/dancode", function(data) {
        $("#dancode").prop("innerText", "["+data.to+"]")
        make_breakLine(data.from, data.to)
      })
      
      /* 로그아웃 */
      socket.on("logout", function(data) {
        logout_function()
      })
    }
    
    /* 로그아웃 버튼 이벤트 */
    $("#logout").click(function(e) {
      logout_function()
    })
    
    /* 정보보기 버튼 이벤트 */
    var information_flag = false
    $("#information_button").click(function(e) {
      information_flag = !information_flag
      if (information_flag) {
        $("#information_button").css("background-color", "blue")
        $("#information_button").text("정보끄기")
        $("#information").css('display', 'block')
      } else {
        $("#information_button").css("background-color", "#399aff")
        $("#information_button").text("정보보기")
        $("#information").css('display', 'none')
      }
    })

    /* 추천어 버튼 이벤트 처리 */
    $("body").on('click', '.recommend', function(e) {
      $("#chat_data").text(e.target.innerText)
      parsing_ajax("PARSE")
    })

    /* 마우스 이벤트 처리 */
    var buffer = [""]
    var idx = 0
    $("#chat_submit_btn").on("click", function() {
      idx = 0
      buffer.splice(1, 0, $("#chat_data").text())
      parsing_ajax("PARSE")
    })

    /* 키보드 이벤트 처리 */
    $("#chat_data").keydown(function(e) {
      if (e.which == 27) { // ESC KEY
        idx = 0
        $("#chat_data").text("")
        parsing_ajax("ESC")
      } else if (e.which == 13) { // ENTER KEY
        idx = 0
        buffer.splice(1, 0, $("#chat_data").text())
        parsing_ajax("PARSE")
      } else if (e.which == 38) { // UP KEY
        if (idx == buffer.length) return
        let currMsg = buffer[++idx]
        $("#chat_data").text(currMsg)
      } else if (e.which == 40) { // DOWN KEY
        if (idx == 0) return
        let currMsg = buffer[--idx]
        idx = (idx + buffer.length) % buffer.length
        $("#chat_data").text(currMsg)
      }
    })

    /* 아이콘 단지코드 변경 이벤트 처리 */
    $("body").on("change", "#dancode", function(e) {
      const prev_dancode = $("#prev_dancode").prop("value")
      const dancode = $("#dancode").prop("value")
      if (isDigit(dancode) == false) {
        alert("숫자만 입력이 가능합니다!")
        $("#dancode").prop("value", prev_dancode)
        return
      }
      let xhr = new XMLHttpRequest()
      xhr.open('POST', '/change/icon/dancode', true)
      xhr.setRequestHeader('Content-Type', 'application/json')
      xhr.send(JSON.stringify({
        server,
        username : $("#userId").prop("innerText"),
        from : prev_dancode,
        to : dancode
      }))
      xhr.addEventListener('load', function(res) {
        let responseText = JSON.parse(xhr.responseText)
        const from = responseText.from
        const to = responseText.to
        $("#dancode").prop("value", to)
        $("#prev_dancode").prop("value", to)
        alert(responseText.message)
        make_breakLine(from, to)
      })
    })
    
    // 새창 이벤트 처리
    $("a").click(function(e) {
      e.preventDefault()
      window.open($(this).attr("href"), 'aa')
    })

    // ??
    setInterval(function() {
      if ($(".loading")) {
        $(".loading").each(function() {
          var deg = (($(this).data("rotate") || 0) + 30) % 360
          var rotate = "rotate(" + deg + "deg)"
          $(this).data("rotate", deg)
          $(this).css({
            '-webkit-transform': rotate,
            '-moz-transform': rotate,
            '-o-transform': rotate,
            '-ms-transform': rotate,
            'transform': rotate
          })
        })
      }
    }, 100)
  })
