script.
  var regexps = !{JSON.stringify(regexps)}
  $(document).ready(function() {
    function regexp_test() {
      var regexp
      try{
        regexp = new RegExp($("#regexp").val(), $("#_option").val());
      } catch (e) {
        regexp = "";
      }
      console.log(regexp)
      let parsing_array = $("#textarea").val().match(regexp);
      console.log(parsing_array)
      if(parsing_array != null) {
        let return_value = $("#return_value").val()
        if(return_value === null || return_value === ""){
          let start = $("#start").val() ? parseInt($("#start").val()) : -1
          let _length = $("#_length").val() ? parseInt($("#_length").val()) : -1
          $("#result").text(parsing_array[0].substr(start, _length))
        } else {
          $("#result").text(return_value)
        }
      } else {
        $("#result").text("")
      }
    }
    $("#textarea").on("input", regexp_test)
    $("#regexp").on("input", regexp_test)
    $("#_option").on("input", regexp_test)
    $("#return_value").on("input", regexp_test)
    $("#start").on("input", regexp_test)
    $("#_length").on("input", regexp_test)
    
    $(".update").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      $("#parameter_type").val(regexps[index].parameter_type)
      $("#regexp").val(regexps[index].regexp)
      $("#_option").val(regexps[index]._option)
      $("#return_value").val(regexps[index].return_value)
      $("#start").val(regexps[index].start)
      $("#_length").val(regexps[index]._length)
      
      $("#idx").val(regexps[index].idx)
      $("#addRegexp").attr("action", "/adm/update/regexp")
      $("#submit").val("수정")
    })
    $("#reset").click(function() {
      $("#idx").val("")
      $("#addRegexp").attr("action", "/adm/insert/regexp")
      $("#submit").val("등록")
    })
  })

#adm_sub_page
  form#addRegexp(method="post", action="/adm/insert/regexp")
    #variables
      label
        | parameter_type:
        input#parameter_type(type="text" name="parameter_type")
      br
      label
        | regexp:
        input#regexp(type="text" name="regexp")
      br
      label
        | _option:
        input#_option(type="text" name="_option")
      br  
      label
        | return_value:
        input#return_value(type="text" name="return_value")
      br
      label
        | start:
        input#start(type="text" name="start")
      br
      label
        | _length:
        input#_length(type="text" name="_length")
      br
      label
        input#idx(type="hidden" name="idx" value="")
        input#submit(type="submit" value="등록")
        input#reset(type="reset" value="취소")
    #testing
      #text_field
        textarea#textarea
      #result_field
        #result
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th parameter_type
        th regexp
        th _option
        th return_value
        th start
        th _length
        th
    tbody
      -for(let i = 0 ; i < regexps.length ; i++) {
        tr(id=regexps[i].idx value=i)
          td
            input.select(type="checkbox" value=regexps[i].idx)
          td.parameter_type
            =regexps[i].parameter_type
          td.regexp
            =regexps[i].regexp
          td._option
            =regexps[i]._option
          td.return_value
            =regexps[i].return_value
          td.start
            =regexps[i].start
          td._length
            =regexps[i]._length
          td.buttonList
            button.update(value=regexps[i].idx) 수정
            form(method="post" action="/adm/delete/regexp")
              button.delete(name="idx" value=regexps[i].idx) 삭제
      -}
