script(type="text/javascript").
  var tableList = !{JSON.stringify(tableList)};
  $(document).ready(function() {
    $(".update").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      $("#tableKey").val(tableList[index].tableKey)
      $("#tableName").val(tableList[index].tableName)
      
      $("#prev").val(tableList[index].tableName)
      $("#createTable").attr("action", "/adm/update/table")
      $("#submit").val("수정")
    })
    $("#reset").click(function() {
      $("#idx").val("")
      $("#createTable").attr("action", "/adm/insert/table")
      $("#submit").val("등록")
    })
  })
#adm_sub_page
  form#createTable(method="post", action="/adm/insert/table")
    #variables
      label
        | tableKey:
        input#tableKey(type="text" name="tableKey")
      br
      label
        | tableName:
        input#tableName(type="text" name="tableName")
      br
      label
        input#prev(type="hidden" name="prev" value="")
        input#submit(type="submit" value="등록")
        input#reset(type="reset" value="취소")
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th tableKey
        th tableName
        th
    tbody
      -for(let i = 0 ; i < tableList.length ; i++) {
        tr(id=tableList[i].tableName value=i)
          td
            input.select(type="checkbox" value=tableList[i].tableName)
          td
            =tableList[i].tableKey
          td
            a(href="/adm/"+tableList[i].tableName+"/columns")
              =tableList[i].tableName
          td.buttonList
            button.update(value=tableList[i].tableName) 수정
            form(method="post" action="/adm/delete/table")
              button.delete(name="tableName" value=tableList[i].tableName) 삭제
      -}
  
