script(type="text/javascript").
  var recommend = !{JSON.stringify(recommend)}
  console.log(recommend)
  $(document).ready(function() {
    $(".update").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      $("#parameter_type").val(recommend[index].parameter_type)
      $("#word").val(recommend[index].word)
      $("#button").val(recommend[index].button)

      $("#idx").val(recommend[index].idx)
      $("#addRecommend").attr("action", "/adm/update/recommend")
      $("#submit").val("수정")
    })
    $(".clone").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      
      $("#parameter_type").val(recommend[index].parameter_type)
      $("#word").val(recommend[index].word)
      $("#button").val(recommend[index].button)

      $("#idx").val("")
      $("#addRecommend").attr("action", "/adm/insert/recommend")
      $("#submit").val("등록")
    })
    $("#reset").click(function() {
      $(".selected").removeClass("selected")
      $("#idx").val("")
      $("#addRecommend").attr("action", "/adm/insert/recommend")
      $("#submit").val("등록")
    })
  })
#adm_sub_page
  form#addRecommend(method="post", action="/adm/insert/recommend")
    #variables
      label
        | parameter_type:
        input#parameter_type(type="text" name="parameter_type")
      br
      label
        | word:
        input#word(type="text" name="word")
      br
      label
        | button:
        input#button(type="text" name="button")
      br
      label
        input#idx(type="hidden" name="idx" value="")
        input#submit(type="submit" value="등록")
        input#reset(type="reset" value="취소")
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th parameter_type
        th word
        th button
        th
    tbody
      -for(let i = 0 ; i < recommend.length ; i++) {
        tr(id=recommend[i].idx value=i)
          td
            input.select(type="checkbox" value=recommend[i].idx)
          td.parameter_type
            =recommend[i].parameter_type
          td.word
            =recommend[i].word
          td.button
            =recommend[i].button
          td.buttonList
            button.update(value=recommend[i].idx) 수정
            button.clone(value=recommend[i].idx) 복사
            form(method="post" action="/adm/delete/recommend")
              button.delete(name="idx" value=recommend[i].idx) 삭제
      -}
