script(type="text/javascript").
  var response = !{JSON.stringify(response)}
  console.log(response)
  $(document).ready(function() {
    // update
    $(".update").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      $("#flag").val(response[index].flag)
      $("#_option").val(response[index]._option)
      $("#response_text").val(response[index].response_text)
      $("#_order").val(response[index]._order)
      $("#prev_flag").val(response[index].flag)
      $("#prev_order").val(response[index]._order)
      $("#prev_option").val(response[index]._option)

      $("#addresponse").attr("action", "/adm/update/response")
      $("#submit").val("수정")
    })
    
    // clone
    $(".clone").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
    
      $("#flag").val(response[index].flag)
      $("#_option").val(response[index]._option)
      $("#response_text").val(response[index].response_text)
      $("#_order").val(response[index]._order)
    
      $("#addresponse").attr("action", "/adm/insert/response")
      $("#submit").val("등록")
    })
    
    // reset
    $("#reset").click(function() {
      $(".selected").removeClass("selected")
      $("#addresponse").attr("action", "/adm/insert/response")
      $("#submit").val("등록")
    })
  })
#adm_sub_page
  form#addresponse(method="post", action="/adm/insert/response")
    #variables
      label
        | flag:
        input#flag(type="text" name="flag")
      br
      label
        | _option:
        input#_option(type="text" name="_option")
      br
      label
        | response_text:
        input#response_text(type="text" name="response_text")
      br
      label
        | _order:
        input#_order(type="text" name="_order")
      br
      label
        input#prev_flag(type="hidden" name="prev_flag" value="")
        input#prev_order(type="hidden" name="prev_order" value="")
        input#prev_option(type="hidden" name="prev_option" value="")
        input#submit(type="submit" value="등록")
        input#reset(type="reset" value="취소")
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th flag
        th _option
        th response_text
        th _order
        th
    tbody
      -for(let i = 0 ; i < response.length ; i++) {
        tr(id=i value=i)
          td
            input.select(type="checkbox" value=i)
          td.flag
            =response[i].flag
          td._option
            =response[i]._option
          td.response_text
            =response[i].response_text
          td._order
            =response[i]._order
          td.buttonList
            button.update(value=i) 수정
            button.clone(value=i) 복사
            form(method="post" action="/adm/delete/response")
              button.delete(name="flag" value=response[i].flag) 삭제
              input(type="hidden" name="_option" value=response[i]._option)
              input(type="hidden" name="_order" value=response[i]._order)
      -}
