script(type="text/javascript").
  var columns = !{JSON.stringify(columns)}
  var tableName = !{JSON.stringify(tableName)}
  $(document).ready(function() {
    $(".update").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      $("#parameter").val(columns[index].parameter)
      $("#display_name").val(columns[index].display_name)
      $("#parameter_type").val(columns[index].parameter_type)
      $("#_order").val(columns[index]._order)
      console.log(columns[index].necessary == 0)
      if(columns[index].necessary == 0) {
        $("#necessary option:eq(1)").prop("selected", "selected");
      } else {
        $("#necessary option:eq(0)").prop("selected", "selected");
      }

      $("#prev").val(columns[index].parameter)
      $("#addRows").attr("action", "/adm/update/"+tableName+"/row")
      $("#submit").val("수정")
    })
    $("#reset").click(function() {
      $("#idx").val("")
      $("#addRows").attr("action", "/adm/insert/"+tableName+"/row")
      $("#submit").val("등록")
    })
  })
#adm_sub_page
  form#addRows(method="post", action="/adm/insert/"+tableName+"/row")
    #variables
      label
        | api_name:
        input#api_name(type="text" name="api_name" value=tableName)
      br
      label
        | parameter:
        input#parameter(type="text" name="parameter")
      br
      label
        | display_name:
        input#display_name(type="text" name="display_name")
      br
      label
        | parameter_type:
        input#parameter_type(type="text" name="parameter_type")
      br
      label
        | _order:
        input#_order(type="text" name="_order")
      br
      label
        | necessary:
        select#necessary(name="necessary")
          option(value=1 selected) 필수
          option(value=0) 옵션
      br
      label
        input#prev(type="hidden" name="prev" value="")
        input#submit(type="submit" value="등록")
        input#reset(type="reset" value="취소")
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th api_name
        th parameter
        th display_name
        th parameter_type
        th necessary
        th _order
    tbody
      -for(let i = 0 ; i < columns.length ; i++) {
        tr(id=columns[i].parameter value=i)
          td
            input.select(type="checkbox" value=columns[i].parameter)
          td
            =columns[i].api_name
          td
            =columns[i].parameter
          td
            =columns[i].display_name
          td
            =columns[i].parameter_type
          td
            =columns[i].necessary
          td
            =columns[i]._order
          td.buttonList
            button.update(value=columns[i].parameter) 수정
            form(method="post" action="/adm/delete/"+tableName+"/row")
              button.delete(name="parameter" value=columns[i].parameter) 삭제
      -}
