script(type="text/javascript").
  var tableList = !{JSON.stringify(tableList)}
  $(document).ready(function() {
    $(".update").click(function() {
      $(".selected").removeClass("selected")
      $("tr#"+$(this).val()).addClass("selected")
      var index = $(".selected").attr("value")
      $("#display_name").val(tableList[index].display_name)
      $("#api_name").val(tableList[index].api_name)
      $("#response").val(tableList[index].response)
      $("#parameter_type").val(tableList[index].parameter_type)
      $("#url").val(tableList[index].url)
      $("#response_text").val(tableList[index].response_text)
      $("#rest_method").val(tableList[index].rest_method)
      
      $("#prev").val(tableList[index].api_name)
      $("#createTable").attr("action", "/adm/update/table")
      $("#submit").val("수정")
    })
    $("#reset").click(function() {
      $("#idx").val("")
      $("#createTable").attr("action", "/adm/insert/table")
      $("#submit").val("등록")
    })
  })
#adm_sub_page
  form#createTable(method="post", action="/adm/insert/table")
    #variables
      label
        | display_name:
        input#display_name.inputText(type="text" name="display_name")
      br
      label
        | api_name:
        input#api_name.inputText(type="text" name="api_name")
      br
      label
        | response:
        input#response.inputText(type="text" name="response")
      br
      label
        | parameter_type:
        input#parameter_type.inputText(type="text" name="parameter_type")
      br
      label
        | url:
        input#url.inputText(type="text" name="url")
      br
      label
        | response_text:
        input#response_text.inputText(type="text" name="response_text")
      br
      label
        | rest_method:
        input#rest_method.inputText(type="text" name="rest_method")
      br
      label
        input#prev(type="hidden" name="prev" value="")
        input#submit(type="submit" value="등록")
        input#reset(type="reset" value="취소")
  table(border="1")
    thead
      tr
        th
          input#selectAll(type="checkbox")
        th display_name
        th api_name
        th response
        th parameter_type
        th url
        th response_text
        th rest_method
        th
    tbody
      -for(let i = 0 ; i < tableList.length ; i++) {
        tr(id=tableList[i].api_name value=i)
          td
            input.select(type="checkbox" value=tableList[i].api_name)
          td
            =tableList[i].display_name
          td
            a(href="/adm/"+tableList[i].api_name+"/columns")
              =tableList[i].api_name
          td
            =tableList[i].response
          td
            =tableList[i].parameter_type
          td
            =tableList[i].url
          td
            =tableList[i].response_text
          td
            =tableList[i].rest_method
          td.buttonList
            button.update(value=tableList[i].api_name) 수정
            form(method="post" action="/adm/delete/table")
              button.delete(name="api_name" value=tableList[i].api_name) 삭제
      -}
  
